* {
  transition: all 0.2s;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "Luckiest Guy";
  font-size: 35px;
}

.navigation a {
  text-decoration: none;
  margin: 0 10px;
  color: #ff9800;
  text-shadow: 4px 4px 4px #305cfa, 5px 5px 5px #ef961a;
}

.board-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.tag {
  position: relative;
}

.tiger {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: -10px;
  left: -10px;
  position: absolute;
}

.tiger.selected img {
  border-radius: 50%;
  box-shadow: 0px 0px 8px 4px #bbb;
  background: #800000;
  height: 70px;
}

.goat.selected img {
  border-radius: 20%;
  box-shadow: 0px 0px 8px 4px #bbb;
  background: #f6c054;
  height: 65px;
}

.tiger img {
  height: 60px;
}

.goat {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 1;
}

.goat img {
  height: 50px;
}

.board {
  display: flex;
  height: 560px;
  width: 760px;
  margin: auto;
  flex-wrap: wrap;
  background: #fff;
  justify-content: center;
}

.score {
  position: absolute;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.goatTurn .box {
  border-color: #1500ff;
  background-color: #ffeb3b78 !important;
}

.tigerTurn .box {
  border-color: red;
  background-color: #ff00001c !important;
}

.box {
  height: 25%;
  width: 24%;
  border: 1px solid #bbb;
  position: relative;
}

.tigerTurn .box:nth-child(1),
.tigerTurn .box:nth-child(3),
.tigerTurn .box:nth-child(6),
.tigerTurn .box:nth-child(8),
.tigerTurn .box:nth-child(9),
.tigerTurn .box:nth-child(14),
.tigerTurn .box:nth-child(11),
.tigerTurn .box:nth-child(16) {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    red 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.goatTurn .box:nth-child(1),
.goatTurn .box:nth-child(3),
.goatTurn .box:nth-child(6),
.goatTurn .box:nth-child(8),
.goatTurn .box:nth-child(9),
.goatTurn .box:nth-child(14),
.goatTurn .box:nth-child(11),
.goatTurn .box:nth-child(16) {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    #1500ff 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.goatTurn .box:nth-child(2),
.goatTurn .box:nth-child(4),
.goatTurn .box:nth-child(5),
.goatTurn .box:nth-child(7),
.goatTurn .box:nth-child(10),
.goatTurn .box:nth-child(12),
.goatTurn .box:nth-child(13),
.goatTurn .box:nth-child(15) {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    #1500ff 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.tigerTurn .box:nth-child(2),
.tigerTurn .box:nth-child(4),
.tigerTurn .box:nth-child(5),
.tigerTurn .box:nth-child(7),
.tigerTurn .box:nth-child(10),
.tigerTurn .box:nth-child(12),
.tigerTurn .box:nth-child(13),
.tigerTurn .box:nth-child(15) {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    red 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.box .p {
  height: 16px;
  width: 16px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.goatTurn .box .p {
  background-color: #1500ff;
}

.tigerTurn .box .p {
  background-color: red;
}

.box .p:hover {
  background-color: red;
  cursor: pointer;
}

.box .p:nth-child(1) {
  top: -8px;
  left: -8px;
}

.box .p:nth-child(2) {
  top: -8px;
  right: -8px;
}

.box .p:nth-child(3) {
  bottom: -8px;
  right: -8px;
}

.box .p:nth-child(4) {
  bottom: -8px;
  left: -8px;
}

.box1 > .p2,
.box1 > .p3,
.box2 > .p2,
.box2 > .p3,
.box3 > .p2,
.box3 > .p3,
.box5 > .p2,
.box5 > .p3,
.box6 > .p2,
.box6 > .p3,
.box7 > .p2,
.box7 > .p3,
.box9 > .p2,
.box9 > .p3,
.box10 > .p2,
.box10 > .p3,
.box11 > .p2,
.box11 > .p3,
.box13 > .p2,
.box13 > .p3,
.box14 > .p2,
.box14 > .p3,
.box15 > .p2,
.box15 > .p3 {
  right: -10px !important;
}

.box1 > .p4,
.box1 > .p3,
.box2 > .p4,
.box2 > .p3,
.box3 > .p4,
.box3 > .p3,
.box4 > .p4,
.box4 > .p3,
.box5 > .p4,
.box5 > .p3,
.box6 > .p4,
.box6 > .p3,
.box7 > .p4,
.box7 > .p3,
.box8 > .p4,
.box8 > .p3,
.box9 > .p4,
.box9 > .p3,
.box10 > .p4,
.box10 > .p3,
.box11 > .p4,
.box11 > .p3,
.box12 > .p3,
.box12 > .p4 {
  bottom: -10px !important;
}

@media only screen and (max-width: 768px) {
  .tiger img {
    height: 50px;
  }

  .goat img {
    height: 40px;
  }

  .tiger.selected img {
    height: 60px;
  }

  .goat.selected img {
    height: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .tiger img {
    height: 45px;
  }

  .goat img {
    height: 40px;
  }

  .tiger.selected img {
    height: 55px;
  }

  .goat.selected img {
    height: 45px;
  }
}

@media only screen and (max-width: 650px) {
  .tiger img {
    height: 45px;
  }

  .goat img {
    height: 40px;
  }

  .tiger.selected img {
    height: 55px;
  }

  .goat.selected img {
    height: 45px;
  }
}

@media only screen and (max-width: 500px) {
  .tiger img {
    height: 40px;
  }

  .goat img {
    height: 35px;
  }

  .tiger.selected img {
    height: 50px;
  }

  .goat.selected img {
    height: 35px;
  }
}

@media only screen and (max-width: 400px) {
  .tiger img {
    height: 35px;
  }

  .goat img {
    height: 30px;
  }

  .tiger.selected img {
    height: 45px;
  }

  .goat.selected img {
    height: 35px;
  }
}

@media only screen and (max-width: 300px) {
  .tiger img {
    height: 30px;
  }

  .goat img {
    height: 30px;
  }

  .tiger.selected img {
    height: 40px;
  }

  .goat.selected img {
    height: 35px;
  }
}
