@font-face {
  font-family: "Luckiest Guy";
  src: URL("font.ttf") format("truetype");
}
body {
  background-image: linear-gradient(to bottom right, #3f51b5, #e91e63);
  height: 100vh;
  overflow: hidden;
  font-family: 'Luckiest Guy';
  letter-spacing: 5px;
}
#root {
  height: 100%;
}
.home-wrapper {
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #3f51b5, #e91e63);
  height: 100%;
  max-width: 400px;
  margin: auto;
  padding-top: 80px;
}

.info {
  text-align: center;
  width: 100%;
}

.info .crown {
  height: 100px;
  width: 100px;
  margin-top: -100px;
}

.title {
  font-size: 45px;
  color: #fff;
  position: relative;
  width: fit-content;
  margin: auto;
  /* background-image: url("./images/title-background.gif' %}"); */
  /* text-shadow: 2px 2px 2px #305cfa, 3px 3px 3px #ef961a; */
}
.title p {
  margin: 0;
  font-size: 34px;
  font-weight: bold;
  color: #ffc107;
  text-shadow: 4px 5px 5px black;
}

.second-line {
  letter-spacing: 7px;
  margin-top: 22px;
}

.option-wrapper {
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  margin-top: 0;
  min-height: 50px;
}

.menu a,
.sub-menu a {
  padding: 20px 30px;
  background-color: #fdffd5;
  text-shadow: 0px 0px 3px;
  text-transform: uppercase;
  box-shadow: 2px 2px 9px 4px #795548;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a span.icon {
  font-size: 40px;
  display: flex;
  color: #6446a4;
}

.menu a:hover {
  box-shadow: 0px 0px 5px 0px #ef961aa6;

  transition: all 0.2s;
}

.menu .sub-menu {
  display: flex;
  flex-direction: row;
  padding: 5px 20px;
}

.menu .sub-menu a {
  font-size: 18px;
  margin: 10px;
  color: #e34612;
  font-size: bolder;
}

.menu .sub-menu a:last-child {
  font-size: 18px;
  margin: 10px;
  color: #107609;
}

.menu:hover .sub-menu {
  visibility: visible;
}
.form {
  display: flex;
  flex-direction: column;
}
.title input {
  height: 50px;
  border: 2px solid #ff9800;
  padding: 10px;
  color: #ef961a;
  font-size: 26px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 40px;
  text-align: center;
  font-family: "Luckiest Guy";
}

.create-game {
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Luckiest Guy";
  letter-spacing: 4px;
  line-height: 33px;
  border-color: #ef961a;
  color: #ff6000;
  outline: none;
  background: #fffbd7;
  cursor: pointer;
}
.title .create-game a {
  text-decoration: none;
  color: inherit;
}

.game-room .start-match {
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Luckiest Guy";
  letter-spacing: 4px;
  line-height: 33px;
  border-color: #ef961a;
  color: #ff6000;
  outline: none;
  background: #fffbd7;
  cursor: pointer;
  margin-top: 20px;
}

.game-room {
  display: flex;
  justify-content: center;
}
.game-option {
  text-align: center;
}

.game-room .friends {
  padding: 40px 50px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid grey;
  margin: 20px 5px;
  position: relative;
  font-size: 16px;
  width: fit-content;
}

.friend {
  display: flex;
  margin-bottom: 20px;
}
.thumbnail {
  margin-right: 10px;
  border: 2px solid #92408d;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.thumbnail img {
  height: 100%;
  border-radius: 8px;
}
.name-wrapper {
  font-size: 20px;
}

.game-room .switch {
  bottom: 16px;
  text-align: center;
  left: 0;
  cursor: pointer;
  border: 1px solid #ff5722;
  margin: auto;
  width: fit-content;
  padding: 15px;
  border-radius: 15px;
  background: #ff5722;
  color: #fff;
  font-weight: bold;
}

.game-room .friend .name .player {
  color: #ff5722;
  text-transform: uppercase;
}

.game-room .share {
  padding: 20px;
}

.game-room .share p {
  font-size: 12px;
  color: darkslategrey;
}

.game-room .share-icons {
  display: flex;
  justify-content: center;
}

.game-room .share-icon {
  margin: 0px 5px;
}
.board-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("{% static 'app/images/background.jpg' %}"); */
  background-size: cover;
}

.tag {
  position: relative;
}

.tiger {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: -10px;
  left: -10px;
  position: absolute;
}

.tiger.selected img {
  border-radius: 50%;
  box-shadow: 0px 0px 8px 4px #3d3d3d;
  background: #800000;
  height: 70px;
}

.goat.selected img {
  border-radius: 20%;
  box-shadow: 0px 0px 8px 4px #bbb;
  background: #f6c054;
  height: 65px;
}

.tiger img {
  height: 60px;
}

.goat {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: -4px;
  left: -3px;
  z-index: 1;
}

.goat img {
  height: 50px;
}

.board {
  display: flex;
  height: 800px;
  width: 850px;
  margin: auto;
  flex-wrap: wrap;
  /* background: #fff; */
  justify-content: center;
  background-image: linear-gradient(to right, #412f28, #9e9e9e, #412f28);
  border: 5px solid #250a00;
  border-radius: 5px;
  padding: 25px 20px 30px 20px;
  margin: 7px;
  position: relative;
}

.score {
  position: absolute;
  left: 15px;
  font-size: 18px;
  font-weight: bolder;
  color: #cbffcb;
  top: 15px;
}

.goatTurn .box {
  border-color: #795548;
  background-color: #b39a91 !important;
}

.tigerTurn .box {
  border-color: #795548;
  background-color: #b39a91 !important;
}

.box {
  height: 25%;
  width: 24%;
  border: 1px solid #bbb;
  position: relative;
}

.box:nth-child(1),
.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(8),
.box:nth-child(9),
.box:nth-child(14),
.box:nth-child(11),
.box:nth-child(16) {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    #795548 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.box:nth-child(2),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(7),
.box:nth-child(10),
.box:nth-child(12),
.box:nth-child(13),
.box:nth-child(15) {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    #795548 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.box .p {
  height: 16px;
  width: 16px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.goatTurn .box .p {
  background-color: #795548;
}

.tigerTurn .box .p {
  background-color: #795548;
}

.box .p:hover {
  background-color: #795548;
  cursor: pointer;
}

.box .p:nth-child(1) {
  top: -8px;
  left: -8px;
}

.box .p:nth-child(2) {
  top: -8px;
  right: -8px;
}

.box .p:nth-child(3) {
  bottom: -8px;
  right: -8px;
}

.box .p:nth-child(4) {
  bottom: -8px;
  left: -8px;
}

.box1 > .p2,
.box1 > .p3,
.box2 > .p2,
.box2 > .p3,
.box3 > .p2,
.box3 > .p3,
.box5 > .p2,
.box5 > .p3,
.box6 > .p2,
.box6 > .p3,
.box7 > .p2,
.box7 > .p3,
.box9 > .p2,
.box9 > .p3,
.box10 > .p2,
.box10 > .p3,
.box11 > .p2,
.box11 > .p3,
.box13 > .p2,
.box13 > .p3,
.box14 > .p2,
.box14 > .p3,
.box15 > .p2,
.box15 > .p3 {
  right: -10px !important;
}

.box1 > .p4,
.box1 > .p3,
.box2 > .p4,
.box2 > .p3,
.box3 > .p4,
.box3 > .p3,
.box4 > .p4,
.box4 > .p3,
.box5 > .p4,
.box5 > .p3,
.box6 > .p4,
.box6 > .p3,
.box7 > .p4,
.box7 > .p3,
.box8 > .p4,
.box8 > .p3,
.box9 > .p4,
.box9 > .p3,
.box10 > .p4,
.box10 > .p3,
.box11 > .p4,
.box11 > .p3,
.box12 > .p3,
.box12 > .p4 {
  bottom: -10px !important;
}
.loading {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #000000e0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5555;
  display: flex;
  text-shadow: 2px 3px 4px #ff5722;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.just-moved {
  animation-name: grow;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.turn-player {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.playerInfo {
  position: absolute;
}
.playerPlayer {
  bottom: -63px;
  left: 0px;
  display: flex;
  flex-direction: column-reverse;
}
.playerOpponent {
  top: -63px;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.role {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
}
.name-image {
  display: flex;
  align-items: center;
}
.playerPlayer .name-image {
  flex-direction: row-reverse;
}
.name-image .name {
  margin: 5px;
  font-weight: bold;
  color: #fff;
}
.playerInfo .name-image .image {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.playerInfo .name-image .image img {
  height: 100%;
  border-radius: 50%;
}
.navigation {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  color: #fff;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}
.winner-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 555;
  background: #000000cc;
}
.winner-popup .message-wrapper {
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 25px;
}
.message-wrapper .message {
  font-size: 22px;
  font-weight: bold;
  color: darkslategray;
  text-align: center;
  margin-bottom: 22px;
}
.message-wrapper .winner-options {
  display: flex;
  justify-content: center;
}
.winner-options .winner-option {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 20px 10px 15px 15px;
  cursor: pointer;
  margin-left: 5px;
}
.winner-option.rematch {
  background-color: darkslategray;
  color: #fff;
  border-color: darkslategray;
}
.winner-option.rematch.disable {
  cursor: not-allowed;
}
@media only screen and (max-width: 768px) {
  .tiger img {
    height: 50px;
  }

  .goat img {
    height: 40px;
  }

  .tiger.selected img {
    height: 60px;
  }

  .goat.selected img {
    height: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .tiger img {
    height: 45px;
  }

  .goat img {
    height: 40px;
  }

  .tiger.selected img {
    height: 55px;
  }

  .goat.selected img {
    height: 45px;
  }
}

@media only screen and (max-width: 650px) {
  .tiger img {
    height: 45px;
  }

  .goat img {
    height: 40px;
  }

  .tiger.selected img {
    height: 55px;
  }

  .goat.selected img {
    height: 45px;
  }
}

@media only screen and (max-width: 500px) {
  .tiger img {
    height: 40px;
  }

  .goat img {
    height: 35px;
  }

  .tiger.selected img {
    height: 50px;
  }

  .goat.selected img {
    height: 35px;
  }
}

@media only screen and (max-width: 400px) {
  .tiger img {
    height: 35px;
  }

  .goat img {
    height: 30px;
  }

  .tiger.selected img {
    height: 45px;
  }

  .goat.selected img {
    height: 35px;
  }

  .home .title {
    font-size: 38px;
    padding: 0;
    width: 100vw;
    margin: 0;
  }

  .info .crown {
    height: 80px;
    width: 80px;
    margin-top: -80px;
  }

  .menu a,
  .sub-menu a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px) {
  .tiger img {
    height: 30px;
  }

  .goat img {
    height: 30px;
  }

  .tiger.selected img {
    height: 40px;
  }

  .goat.selected img {
    height: 35px;
  }

  .home .title {
    font-size: 32px;
    padding: 0;
    width: 100vw;
    margin: 0;
  }

  .info .crown {
    height: 70px;
    width: 70px;
    margin-top: -70px;
  }

  .menu a,
  .sub-menu a {
    font-size: 14px;
    letter-spacing: normal;
  }
}
